/* ---------------------- */
/* Fonts                  */
/* ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* ---------------------- */
/* Custom properties      */
/* ---------------------- */

:root {
  --clr-text-light: #918e9b;
  --clr-accent: #ff385c;

  --ff-main: "Poppins", sans-serif;
}

/* ---------------------- */
/* Reset                  */
/* ---------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------- */
/* Typography             */
/* ---------------------- */

html {
  font-family: var(--ff-main);
}

section {
  padding: 1.25em 2.25em;
}

.grey {
  color: var(--clr-text-light);
}
.bold {
  font-weight: bold;
}

/* ---------------------- */
/* Components             */
/* ---------------------- */

/* NAVBAR */

nav {
  padding: 1.25em 2.25em;
  height: 4.375em;
  display: flex;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.4);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 6.25em;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 25em;
  align-self: center;
}

.hero--header {
  margin: 0.25em 0;
}

/* CARD */

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.25em;
  overflow-x: auto;
}

.card {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 15em;
  /* padding: 1.25em 2.25em; */
}

.card--badge {
  position: absolute;
  top: 0.375em;
  left: 0.375em;
  background-color: white;
  padding: 0.3125em 0.4375em;
  border-radius: 9px;
  font-weight: bold;
}

.card--image {
  border-radius: 9px;
  margin-bottom: 1.25em;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--title {
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--star {
  display: inline-block;
  max-width: 1em;
}
.card--price {
  margin-top: auto;
}

/* FOOTER */

.footer {
  height: 4.375em;
  margin: 1.25em 0 0 0;
  padding: 1.25em 2.25em;
  justify-content: center;
  text-align: center;
  background-color: var(--clr-accent);
  border-top: 1px solid hsla(0, 0%, 50%, 0.4);
  color: white;
  box-shadow: 0px 3px -7px rgba(0, 0, 0, 0.1);
}

.footer--link {
  text-decoration: none;
  color: inherit;
}

.footer--link:hover {
  text-decoration: underline;
  color: inherit;
}
